/* Global
-------------------------------------------------------------- */
#adminmenu div.wp-menu-image { overflow: hidden; }
#adminmenu div.wp-menu-image img{ display: none; }
#product_meta_box input[type="file"] { padding: 0px; border: 0; background: transparent; margin: 1em 0; }

/* jQuery UI Slider
-------------------------------------------------------------- */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

/* Component containers
-------------------------------------------------------------- */
.ui-widget { font-family: Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff; color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc; color: #222222; font-weight: bold; }
.ui-widget-header a { color: #222222; }

/* Interaction states
-------------------------------------------------------------- */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6; font-weight: normal; color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999; background: #dadada; font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff; font-weight: normal; color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Corner radius
-------------------------------------------------------------- */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Slider
-------------------------------------------------------------- */
.sell-media-markup-container .ui-slider-horizontal { width: 95%; }
.sell-media-markup-container .markup-target { width: 20%; }
.sell-media-markup-container .price-target { color: green; }
.sell-media-slider-container .ui-slider { margin-left: 10px; width: 95%; }
.sell_media-price-container { margin: 12px 0 10px; width: 55px; }
#product_meta_box img { max-width: 100%; height: auto; }

/* Extensions
-------------------------------------------------------------- */
.sell_media-extensions .row-container .extension { background: #F7F7F7; width: 200px; float: left; margin: 0 5px 5px 0; border: 1px solid #DDD; padding: 10px; }
.sell_media-extensions .row-container .extension .title { float: left; margin: 0 0 10px; }
.sell_media-extensions .row-container .extension .title a { text-decoration: none; }
.sell_media-extensions .row-container .extension .price { float: right; }
.sell_media-extensions .row-container .extension .image { clear: both; background: white; padding: 3px; border: 1px solid #DDD; float: left; width: 96%; }
.sell_media-extensions .row-container .extension .image img { max-width: 100%; float: left; }
.sell_media-extensions .row-container .extension .description { float: left; margin: 10px 0 0; }

/* Admin Menu
-------------------------------------------------------------- */
#adminmenu #menu-posts-sell_media_item div.wp-menu-image { background-image: url('../images/menu_icons.png'); background-position: 0 bottom; background-repeat: no-repeat; }
#adminmenu #menu-posts-sell_media_item:hover div.wp-menu-image, #adminmenu #menu-posts-sell_media_item.wp-has-current-submenu div.wp-menu-image { background-position: 0 -1px; }
#adminmenu #menu-posts-sell_media_item .wp-menu-image a img { display: none; }

/* Payments
-------------------------------------------------------------- */
.total-revenue { float: left; }

.sell-media-admin-payments td.media-icon {
    width: 50px;
    padding-bottom: 5px;
    }

.sell-media-admin-payments input[type="text"]{
    width: 100%;
    margin: 5px 0 0 0;
    }

.sell-media-admin-payments .wp-list-table {
    margin: 0 0 15px;
    }

/* Payments Report
-------------------------------------------------------------- */
.earnings_chart { margin-bottom: 40px; }


/* Media attachment edit page
-------------------------------------------------------------- */
#poststuff #sell-media-bulk-tabs { margin-top: 0; padding-bottom: 0; }
.field-has-button { margin-right: 10px; float: left; }
.sell-media-image { margin: 1em 0 0; }
.sell-media-bulk-list-item { width: 150px; height: 150px; background: #000; }
.sell-media-bulk-list-item .sell-media-bulk-list-item-img { position: absolute; top: 0; left: 0;}
.sell-media-bulk-list-item .sell-media-bulk-list-item-img img { max-width: 100%; max-height: 100%; }
.sell-media-bulk-list-item-edit { display: none; position: absolute; top: 40%; left: 40%; text-align: center; color: #fff; text-decoration: none; text-transform: uppercase; }
.sell-media-bulk-list-item-edit:hover { color: #fff; }
.uploader { background: #F9F9F9; padding: 4em; text-align: center; border: 1px solid #EEE; }
.uploader .button { font-size: 14px; height: 46px; line-height: 44px; padding: 0 36px; }
.compat-field-sell th { padding: 0 5px 0 0; }
.compat-field-sell input[type="checkbox"] { width: auto; }

.sell-media-item-table .sell-media-upload-trigger { cursor: pointer; }

.sell_media_item_page_sell_media_add_bulk .media-sidebar .compat-field-sell,
.media-sidebar .compat-field-sell {
    display: none;
    }

.sell-media-ajax-loader {
    background: url("../images/ajax-loader.gif") no-repeat center top;
    height: 58px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: #BBB;
    font-size: 12px;
    }

/* Settings Page
-------------------------------------------------------------- */
.sell-media-settings-size-item { float: left; margin: 0 20px 0 0; width: 75px; line-height: 12px; }
.sell-media-settings-size-item-large { float: left; width: 190px; line-height: 12px; }
.sell_media_item_page_sell_media_plugin_options .desc { margin-left: 5px; }
.sell-media-settings-size-item .desc { margin-left: 0; font-size: 10px; }

.sell-media-xit { background-image: url("../../../../wp-admin/images/xit.gif"); background-repeat: no-repeat; height: 10px; width: 10px; display: inline-block; text-indent: -9999em; overflow: hiddeen; }
.sell-media-xit:active,
.sell-media-xit:hover { background-position: -10px 0!important }

/* Item meta section
-------------------------------------------------------------- */
.sell-media-item-table th { width: 100%; display: block; font-weight: bold; padding: 10px 10px 0 10px; }
.sell-media-item-table td { display: block; padding: 5px 10px 0; }
.sell-media-item-table .sell-media-item-url { padding: 4px; margin: 0 5px 10px 0; }

.sell-media-bulk-controls {
    clear: both;
    float: left;
    }


/* Term meta
-------------------------------------------------------------- */
.collection-icon input[type="button"] {
    width: auto;
    }

.collection-icon input[type="text"] {
    width: 115px;
    }

.upload_image_preview img {
    margin-top: 10px;
    }

.sell-media-collection-form-field input[type="button"]{
    width: auto;
    }

.sell-media-collection-form-field input[type="text"]{
    width: 50%;
    }