/*= Dark
-------------------------------------------------------------- */
.sell-media-subtotal {
	border-bottom: 1px solid #111;
}
input, textarea {
	color: #111;
}

/* Cart dialog */
.sell-media-cart-dialog fieldset {
    border: 1px solid #ddd;
}