/*= Global
-------------------------------------------------------------- */
.sell-media {
  width: 100%;
}
.has-sidebar .sell-media #content, .sell-media #content {
  margin: 1em 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.sell-media-alignleft {
  float: left;
  text-align: left;
  margin: 0 20px 20px 0;
  text-align: center;
}
.sell-media-alignright {
  float: right;
  text-align: right;
  margin: 0 0 20px 20px;
  text-align: center;
}
.sell-media-aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}
.sell-media h3 a, .sell-media-buy-text, .sell-media-buy-button {
  text-decoration: none;
}
.sell-media-credit {
  font-size: 11px;
}
.sell-media-cart-dialog .sell-media-credit {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

/*= Single
-------------------------------------------------------------- */
.sell-media .sell-media-content {
  float: left;
  margin-right: 5%;
  width: 65%;
  position: relative;
}
.sell-media img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 4px;
}
.sell-media .sell-media-meta {
  clear: none;
  float: right;
  line-height: 1.5;
  width: 30%;
}
.sell-media ul {
  margin: 0 0 2em;
  padding: 0;
  list-style: none;
}
.sell-media li {
  margin: .5em 0;
}
.sell-media li .title {
  font-weight: 700;
  border: 0;
}
#sell-media-single .gallery .gallery-item a img {
  max-width: 95%;
}
/*= Archives
-------------------------------------------------------------- */
.sell-media .sell-media-grid {
  float: left;
  margin: 0 2% 2% 0;
  width: 32%;
}
.sell-media .sell-media-grid-container {
  margin: 1em 0;
}
.sell-media .sell-media-grid:nth-child(3n), .sell-media .end {
  margin-right: 0;
}
.sell-media .sell-media-grid:nth-child(3n+1) {
  clear: left;
}
.sell-media .sell-media-grid h3 {
  float: left;
  margin: 0;
}
.sell-media .sell-media-grid .sell-media-buy-text {
  float: right;
}
.sell-media-pagination-container {
  clear: both;
  text-align: center
}
.sell-media-pagination-container .page-numbers {
  padding: 0 3px;
}

/*= Cart
-------------------------------------------------------------- */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba( 0, 0, 0, .7 );
  z-index: 9999;
}
.sell-media-cart-dialog {
  z-index: 10000;
  position: absolute;
  width: 500px;
  min-height: 250px;
  background: #fff;
  box-shadow: 0 0 40px #000;
  padding: 25px;
}
.sell-media-cart-dialog img {
  max-width: 100%;
  width: auto;
  max-height: 250px;
  height: auto;
}
.sell-media-cart-dialog .left {
  float: left;
  margin-right: 5%;
  width: 40%;
}
.sell-media-cart-dialog .right {
  float: right;
  width: 55%;
}
.total-container, .button-container {
  clear: both;
  margin: 1em 0;
}
.price-container {
  color: green;
}
.total-container .right, .button-container .right {
  text-align: right;
}
.sell-media-cart-dialog .subtotal {
  font-weight: bold;
  margin-bottom: 1em;
}
.sell-media-cart-dialog .cart {
  padding-left: 20px;
  background: url(../images/cart.png) no-repeat 0 50%;
}
.sell-media-cart-dialog fieldset {
  margin: 0px 0 10px;
}
.sell-media-cart-dialog legend {
  margin: 0 5px;
  padding: 0 5px;
}
.sell-media-cart-dialog select {
  margin: 10px;
}
.sell-media-cart-dialog .total-container {
  margin: 1em 0 2em;
}
.sell-media-cart-dialog .close {
  right: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  width: 20px;
}
.sell-media-cart-dialog,
.sell-media-cart-dialog p,
.sell-media-cart-dialog a,
.sell-media-cart-dialog a:visited {
  color: #333;
}
.sell-media-cart-dialog a:hover,
.sell-media-cart-dialog a:focus {
  color: #000;
}

/*= Checkout
-------------------------------------------------------------- */
table#sell-media-checkout-table, #sell-media-checkout-table tbody, #sell-media-checkout-table tfoot, #sell-media-checkout-table thead, #sell-media-checkout-table tr, #sell-media-checkout-table th, #sell-media-checkout-table td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table#sell-media-checkout-table {
  border-collapse: separate;
  overflow: hidden;
  width: 100%;
  margin: 5% auto 0;
}
#sell-media-checkout-table th,
#sell-media-checkout-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}
#sell-media-checkout-table .product-checkout-row td.last {
  border-bottom: 0;
}
#sell-media-checkout-table td.first,
#sell-media-checkout-table th.first {
  text-align: left
}
#sell-media-checkout-table .product-details {
  width: 50%;
}
#sell-media-checkout-table .product-details img {
  display: inline;
  float: left;
  margin: 0 15px 0 0;
  padding: 5px;
}
#sell-media-checkout-table label {
  float: left;
  font-size: .9em;
  width: 25%;
}
.sell-media .remove-item-handle {
  cursor: pointer;
  color: #FF0000;
  font-size: 10px;
}
.sell-media-req {
  color: #FF0000;
  font-size: 12px;
  position: relative;
  top: 0;
  margin-left: 3px;
  float: left;
}
.sell-media-subtotal {
  margin: 0 0 1em;
  padding: 0 0 1em;
}
#sell-media-checkout-table input,
#sell-media-checkout-table textarea {
  padding: 3px 6px;
}
#sell-media-checkout-table input:invalid,
#sell-media-checkout-table textarea:invalid {
  border: 1px solid #FF0000;
}
#sell-media-checkout-table .checkout-title {
  margin-bottom: 1em;
}
#sell-media-checkout-table .green {
  color: #336600;
}
#sell-media-checkout-table .sell-media-table-meta {
  overflow:hidden;
}

table#sell-media-subtotal-table {
  border: 0;
  margin: 0;
  padding: 0;
}
table#sell-media-subtotal-table td {
  text-align: left;
  border: 0;
  padding: 0;
}
table#sell-media-subtotal-table th {
  padding: 0 5% 0 0;
  font-size: .8em;
  line-height: 1em;
  width: 25%;

}
/*= Search
-------------------------------------------------------------- */
.sell-media-search {
  float: left;
  width: 100%;
  margin-bottom: 1em;
}
.sell-media-search-field {
  float: left;
  width: 100%;
}
.sell-media-search-field label {
  float: left;
  width: 70px;
  line-height: 2.5;
}
.sell-media-advanced-search {
  margin-left: 70px;
  font-size: 0.75em;
  text-transform: uppercase;
  margin-bottom: 1em;
  float: left;
}
.sell-media-advanced-search-fields {
  display: block;
  float: left;
  margin-bottom: 1em;
  width: 100%;
}
.sell-media-search .sell-media-buy-button {
  float: left;
  clear: left;
}

/*= Buttons
-------------------------------------------------------------- */
.sell-media-buy-button,
input[type="submit"].sell-media-buy-button {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
input[type="submit"].sell-media-purchased {
  color: green;
}
input[type="submit"].sell-media-buy-button:active,
input[type="submit"].sell-media-buy-button:hover,
.sell-media-buy-button:hover,
.sell-media-buy-button:active,
.sell-media-buy-button.active,
.sell-media-buy-button.disabled,
.sell-media-buy-button[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  border: 1px solid #cccccc;
  *border: 0;
}
.sell-media-buy-button:active,
.sell-media-buy-button.active {
  background-color: #cccccc \9;
}
.sell-media-buy-button:first-child {
  *margin-left: 0;
}
.sell-media-buy-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}
.sell-media-buy-button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="submit"].sell-media-buy-button:active,
.sell-media-buy-button.active,
.sell-media-buy-button:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.sell-media-buy-button.disabled,
.sell-media-buy-button[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.sell-media-buy-button-success,
input[type="submit"].sell-media-buy-button-success,
#content input.sell-media-buy-button-success {
  padding: 10px 20px;
  margin-bottom: 2em;
  width: auto;
  font-size: 16px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.sell-media-buy-button-success:hover,
.sell-media-buy-button-success:active,
.sell-media-buy-button-success.active,
.sell-media-buy-button-success.disabled,
.sell-media-buy-button-success[disabled],
input[type="submit"].sell-media-buy-button-success:hover {
  background: #51a351;
  background-color: #51a351;
  *background-color: #499249;
  border-color: transparent;
  color: #fff;
}
.sell-media-buy-button-success:active,
.sell-media-buy-button-success.active,
input[type="submit"].sell-media-buy-button-success:active {
  background-color: #408140 \9;
}

/*= Short code all
-------------------------------------------------------------- */
.sell-media-short-code-all h3 {
  float: left;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  width: 70%;
  line-height: 1em;
}
.sell-media .sell-media-short-code-all .sell-media-grid .sell-media-buy-text {
  font-size: 1em;
}

/*= sell_media_download_list shortcode
------------------------------------------------------------------- */
.downloads {
  margin: 1em 0;
  clear:both;
}
.downloads .download {
  display: block;
  clear: both;
}
.downloads img {
  float:left;
  margin:0 20px 20px 0;
}
.sell-media-ajax-loader {
  background: url( ../images/ajax-loader.gif) no-repeat center top;
  height: 58px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  color: #BBB;
  font-size: 12px;
}

/*= Form styling
------------------------------------------------------------------- */
.sell-media-form input[type="number"].small-text {
  width: 30px;
}
