/* Global
-------------------------------------------------------------- */
#adminmenu div.wp-menu-image {
	overflow: hidden;
}

#adminmenu div.wp-menu-image img {
	display: none;
}

#product_meta_box input[type="file"] {
	padding: 0px;
	border: 0;
	background: transparent;
	margin: 1em 0;
}

/* jQuery UI Slider
-------------------------------------------------------------- */
.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.ui-slider-horizontal {
	height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

/* Component containers
-------------------------------------------------------------- */
.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
}

.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc;
	color: #222222;
	font-weight: bold;
}

.ui-widget-header a {
	color: #222222;
}

/* Interaction states
-------------------------------------------------------------- */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada;
	font-weight: normal;
	color: #212121;
}

.ui-state-hover a,
.ui-state-hover a:hover {
	color: #212121;
	text-decoration: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	font-weight: normal;
	color: #212121;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

.ui-widget:active {
	outline: none;
}

/* Corner radius
-------------------------------------------------------------- */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Slider
-------------------------------------------------------------- */
.sell-media-markup-container .ui-slider-horizontal {
	width: 95%;
}

.sell-media-markup-container .markup-target {
	width: 20%;
}

.sell-media-markup-container .menu-cart-total {
	color: green;
}

.sell-media-slider-container .ui-slider {
	margin-left: 10px;
	width: 95%;
}

.sell_media-price-container {
	margin: 12px 0 10px;
	width: 55px;
}

#product_meta_box img {
	max-width: 100%;
	height: auto;
}

/* Extensions
-------------------------------------------------------------- */
.sell_media-extensions .row-container .extension {
	background: #F7F7F7;
	width: 200px;
	float: left;
	margin: 0 5px 5px 0;
	border: 1px solid #DDD;
	padding: 10px;
}

.sell_media-extensions .row-container .extension .title {
	float: left;
	margin: 0 0 10px;
}

.sell_media-extensions .row-container .extension .title a {
	text-decoration: none;
}

.sell_media-extensions .row-container .extension .price {
	float: right;
}

.sell_media-extensions .row-container .extension .image {
	clear: both;
	background: white;
	padding: 3px;
	border: 1px solid #DDD;
	float: left;
	width: 96%;
}

.sell_media-extensions .row-container .extension .image img {
	max-width: 100%;
	max-height: 120px;
	float: left;
}

.sell_media-extensions .row-container .extension .description {
	float: left;
	margin: 10px 0 0;
}

/* Payments
-------------------------------------------------------------- */
.total-revenue {
	float: left;
}

.sell-media-admin-payments td.media-icon {
	width: 50px;
	padding-bottom: 5px;
}

.sell-media-admin-payments td.media-icon img {
	max-width: 100%;
	height: auto;
}

.sell-media-admin-payments input[type="text"] {
	width: 100%;
	margin: 5px 0 0 0;
}

.sell-media-admin-payments .wp-list-table {
	margin: 0 0 15px;
}

.post-type-sell_media_payment .postbox .inside {
	overflow: scroll;
}

.post-type-sell_media_payment #poststuff #post-body {
	margin: 0;
}

.post-type-sell_media_payment #post-body.columns-2 #postbox-container-1 {
	display: none;
}

/* Payments Report
-------------------------------------------------------------- */
.earnings_chart {
	margin-bottom: 40px;
}

/* Media attachment edit page
-------------------------------------------------------------- */
.field-has-button {
	margin-right: 10px;
	float: left;
}

.sell-media-image {
	margin: 1em 0 0;
}

.compat-field-sell th {
	padding: 0 5px 0 0;
}

.compat-field-sell input[type="checkbox"] {
	width: auto;
}

.sell-media-item-table .sell-media-upload-trigger {
	cursor: pointer;
	float: left;
}

.sell_media_item_page_sell_media_add_bulk .media-sidebar .compat-field-sell,
.media-sidebar .compat-field-sell {
	display: none;
}

/* Settings Page
-------------------------------------------------------------- */
.sell-media-settings-size-item {
	float: left;
	margin: 0 20px 0 0;
	width: 75px;
	line-height: 12px;
}

.sell-media-settings-size-item-large {
	float: left;
	width: 190px;
	line-height: 12px;
}

.sell_media_item_page_sell_media_plugin_options .desc {
	margin-left: 5px;
}

.sell-media-settings-size-item .desc {
	margin-left: 0;
	font-size: 10px;
}

.sell-media-xit {
	background-image: url("../../../../wp-admin/images/xit.gif");
	background-repeat: no-repeat;
	height: 10px;
	width: 10px;
	display: inline-block;
	text-indent: -9999em;
	overflow: hiddeen;
}

.sell-media-xit:active,
.sell-media-xit:hover {
	background-position: -10px 0 !important
}

/* Item meta section
-------------------------------------------------------------- */
.sell-media-upload-list:after {
	content: "";
	display: table;
	clear: both;
}

.sell-media-field {
	display: block;
	padding: 10px 0;
}

.sell-media-field label {
	width: 30%;
	float: left;
}

.sell-media-field label,
.sell-media-field input,
.sell-media-field select,
.sell-media-field textarea {
	display: inline-block;
}

.sell-media-field select {
	width: 100px;
}

.sell-media-field .desc {
	color: #666;
	font-style: italic;
	margin-left: 10px;
}

.sell-media-upload-options {
	vertical-align: -webkit-baseline-middle;
	text-decoration: none;
}

.sell-media-upload-options .dashicons {
	width: 13px;
	height: 13px;
	font-size: 13px;
	vertical-align: baseline;
}

.sell-media-attachment:nth-child(4n+1) {
	clear: left;
}

.sell-media-attachment img {
	opacity: 1;
	-webkit-transition: opacity 0.25s ease;
	-moz-transition: opacity 0.25s ease;
	-o-transition: opacity 0.25s ease;
	transition: opacity 0.25s ease;	/* prevents flickering */
	-webkit-backface-visibility: hidden;
}

.sell-media-attachment:hover img {
	opacity: 0.75;
}

.sell-media-attachment .sell-media-edit,
.sell-media-attachment .sell-media-delete {
	display: none;
	position: absolute;
	text-decoration: none;
	color: rgba(255, 255, 255, .5);
	background: rgba(0, 0, 0, .5);
	z-index: 10;
}

#sell-media-main-container .ui-state-active a.sell-media-edit,
#sell-media-main-container .ui-state-active a.sell-media-edit:link,
#sell-media-main-container .ui-state-active a.sell-media-edit:visited {
	color: rgba(255, 255, 255, .5);
}

.sell-media-attachment .sell-media-edit {
	bottom: 20px;
	left: 14px;
}

.sell-media-attachment .sell-media-delete {
	bottom: 20px;
	left: 44px;
}

.sell-media-attachment .sell-media-edit:hover,
.sell-media-attachment .sell-media-delete:hover,
#sell-media-main-container .ui-state-active a.sell-media-edit:hover {
	color: #fff;
	background: #000;
}

.sell-media-attachment:hover .sell-media-edit,
.sell-media-attachment:hover .sell-media-delete {
	display: inline-block;
}

.sell-media-currency-field {
	border: 1px solid #ddd;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.07 );
	background-color: #fff;
	color: #32373c;
	outline: none;
	-webkit-transition: 0.05s border-color ease-in-out;
	transition: 0.05s border-color ease-in-out;
	height: 28px;
	line-height: 1;
	padding: 1px 1px 1px 4px;
	margin-right: 4px;
	display: inline-block;
}

.sell-media-currency-field input[type="number"] {
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
}

/* Term meta
-------------------------------------------------------------- */
.collection-icon input[type="button"] {
	width: auto;
}

.collection-icon input[type="text"] {
	width: 115px;
}

.upload_image_preview img {
	margin-top: 10px;
}

.sell-media-collection-form-field input[type="button"] {
	width: auto;
}

.sell-media-collection-form-field input[type="text"] {
	width: 50%;
}

.fixed .column-slug {
	width: 15%;
}

.fixed .num {
	width: 15%
}

/* Price Group
-------------------------------------------------------------- */
.sell-media-price-groups-container #post-body-content {
	position: relative;
	float: none;
}

.sell-media-price-groups-container #nav-menu-header,
.sell-media-price-groups-container .nav-menu-footer {
	padding: 10px;
}

.sell-media-price-groups-container #nav-menu-header input[type="text"] {
	width: 16em;
}

.sell-media-price-groups-container .nav-menu-footer {
	border-top: 1px solid #dfdfdf;
	margin: 10px 0 0;
	background: #F1F1F1;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ECECEC), to(#F9F9F9));
	background-image: -webkit-linear-gradient(bottom, #ECECEC, #F9F9F9);
	background-image: -moz-linear-gradient(bottom, #ECECEC, #F9F9F9);
	background-image: -o-linear-gradient(bottom, #ECECEC, #F9F9F9);
	background-image: linear-gradient(to top, #ECECEC, #F9F9F9);
}

.sell-media-price-groups-container .sell-media-xit {
	float: left;
	margin: -20px 0 0 -10px;
}

.sell-media-price-groups-container .submitdelete {
	color: #F00;
	border-bottom: 1px solid #F00;
	float: right;
	text-decoration: none;
	padding: 1px 2px;
}

.sell-media-price-groups-container .submitdelete:hover {
	background: #f00;
	color: #fff;
}

.sell-media-price-groups-container .menu-management {
	position: relative;
	margin-right: 20px;
	margin-top: -3px;
	width: 100%;
}

.sell-media-price-groups-container .description {
	font-size: 10px;
	margin: 0;
}

.sell-media-price-groups-container td:first-child {
	width: 20%;
}

/* Add item tab ui*/
div#sell-media-main-container {
	background: #f7f7f7;
	overflow: hidden;
}

div#sell-media-main-container button.handlediv.button-link {
	display: none;
}

div#sell-media-main-container h2.hndle {
	display: none;
}

#poststuff div#sell-media-main-container .inside {
	margin: 0;
	padding: 0;
}

.sell-media-add-item-main-container-wrap {
	border: none;
	background: none;
	border-radius: 0;
	font-size: inherit;
	font-family: inherit;
}

div#sell-media-main-container ul.main-container-tabs-nav {
	width: 160px;
	margin: 0;
	padding: 0;
	border-right: 1px solid #ddd;
	border-radius: 0;
	background: none;
	border: none;
}

div#sell-media-main-container ul.main-container-tabs-nav li {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	border-radius: 0;
}

div#sell-media-main-container ul.main-container-tabs-nav li a {
	float: left;
	width: 161px;
	margin: 0px 0 0 0;
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	color: #999;
	border-bottom: 1px solid #ddd;
	background-position: left center;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: none;
	-webkit-transition: none;
}

div#sell-media-main-container ul.main-container-tabs-nav li.ui-state-active a,
div#sell-media-main-container ul.main-container-tabs-nav li a:hover,
div#sell-media-main-container ul.main-container-tabs-nav li a:focus {
	width: 161px;
	margin: -1px 0 0 0;
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	color: #444;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ffffff;
	background-color: #ffffff;
	background-position: 20px center;
	box-shadow: none;
}

div#sell-media-main-container ul.main-container-tabs-nav li:last-child a,
div#sell-media-main-container ul.main-container-tabs-nav li:last-child a:hover {
	border-bottom: none;
}

/* Tab Icons */
.sell-media-add-item-main-container-wrap .ui-tabs-nav li a:before {
	font-family: 'Dashicons';
	width: 20px;
	height: 20px;
	font-size: 20px;
	margin: 0 10px 5px 0;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

.sell-media-add-item-main-container-wrap .ui-tabs-nav li#sell-media-tab-file_upload a:before {
	content: "\f317";
}

.sell-media-add-item-main-container-wrap .ui-tabs-nav li#sell-media-tab-price a:before {
	content: "\f174";
}

.sell-media-add-item-main-container-wrap .ui-tabs-nav li#sell-media-tab-stats a:before {
	content: "\f185";
}

.sell-media-add-item-main-container-wrap .ui-tabs-nav li#sell-media-tab-description a:before {
	content: "\f119";
}

.sell-media-add-item-main-container-wrap .ui-tabs-nav li#sell-media-tab-advanced a:before {
	content: "\f108";
}

div#sell-media-main-container .main-container-tabs-contents {
	margin: 0 0 0 160px;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #ffffff;
	border-left: 1px solid #ddd;
}

.sell-media-add-item-main-container-wrap .main-container-tabs-contents div.sell-media-tab-content {
	display: none;
	border-radius: 0;
	border: none;
	width: 100%;
}

.sell-media-add-item-main-container-wrap .main-container-tabs-contents:after {
	content: "";
	display: table;
	clear: both;
}

.post-type-sell_media_item #tagsdiv-creator {
	display: none;
}

.sell-media-add-item-main-container-wrap .sell-media-tab-content-title {
	margin: 0 0 25px 0;
	padding: 0 0 16px 0;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	font-weight: 700;
}

.sell-media-tab-content-section {
	border: 1px solid #f1f1f1;
	margin: 20px 0;
	padding: 20px;
}

.sell-media-tab-content-section h3{
	margin: 0 0 10px 0;
}

/* File upload */
.sell-media-add-item-main-container-wrap #sell-media-upload-field {
	text-align: center;
	border: 1px dashed #f1f1f1;
	margin-bottom: 15px;
}

.sell-media-add-item-main-container-wrap #sell-media-upload-field p {
	margin: 0;
	padding: 0;
}

/* Stat tab */
.sell-media-tab-content .sell-media-field {
	padding: none;
}

/* Advance option tab */
.sell-media-tax-wrap {
	border: 1px solid #f1f1f1;
	margin: 0 0 40px 0;
	padding: 10px 10px 10px 20px;
}

.sell-media-tax-wrap .tax-title {
	margin-bottom: 20px;
}

.sell-media-tax-wrap .tax-edit {
	margin: 0 0 10px 0;
	font-weight: 600;
}

.sell-media-tax-wrap .tax-edit:before {
	font-family: "Dashicons";
	content: "\f464";
	margin-right: 5px;
}

.sell-media-tab-content p.hide-if-no-js {
	display: none;
}

/*Upload area*/
.sell-media-uploader-wrap #plupload-upload-ui.drag-drop #drag-drop-area {
	border: 4px dashed #b4b9be;
	height: 200px;
}

.sell-media-uploader-wrap #plupload-upload-ui.drag-drop #drag-drop-area .drag-drop-inside {
	margin: 38px auto 0;
	width: 100%;
}

.sell-media-uploader-wrap #plupload-upload-ui p.upload-flash-bypass {
	display: none;
}

.sell-media-uploader-wrap #plupload-upload-ui .sell-media-upload-progress-bar {
	display: none;
	width: 100%;
	position: relative;
	height: 10px;
	width: 100%;
	margin: 10px auto;
	border-radius: 10px;
	background: #dfdfdf;
	background: rgba(0, 0, 0, 0.1);
}

.sell-media-uploader-wrap #plupload-upload-ui .sell-media-upload-progress-bar .sell-media-upload-progress-bar-inner {
	height: 10px;
	min-width: 20px;
	width: 0;
	background: #aaa;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	-webkit-transition: width 300ms;
	-moz-transition: width 300ms;
	-ms-transition: width 300ms;
	-o-transition: width 300ms;
	transition: width 300ms;
}

.sell-media-uploader-wrap #plupload-upload-ui .sell-media-upload-progress-bar .sell-media-upload-progress-bar-status {
	clear: both;
	position: absolute;
	right: 0;
	width: 50%;
	height: 30px;
	margin: 12px 0 0 0;
	text-align: right;
}

/* Add/ Edit item pricelist table*/
#sell-media-display-pricelists {
	margin: 20px 0 0 0;
}

#sell-media-display-pricelists table.form-table,
#sell-media-display-pricelists table.form-table td,
#sell-media-display-pricelists table.form-table th {
	border: 1px solid #ddd;
	text-align: left;
}

#sell-media-display-pricelists table.form-table {
	border-collapse: collapse;
	width: 100%;
}

#sell-media-display-pricelists table.form-table tr td,
#sell-media-display-pricelists table.form-table tr th {
	padding: 7px;
}
