/*= Global
-------------------------------------------------------------- */

/* sellMediaCart */

.sellMediaCart_items img {
  max-width: 50px;
  max-height: 50px;
}
.sellMediaCart_items th {
  font-weight: bold;
}
.sellMediaCart_items td {
  vertical-align: middle;
}
.sellMediaCart_items td.item-decrement {
  text-align: right;
  padding: 6px 0 6px 10px;
}
.sellMediaCart_items td.item-increment {
  text-align: left;
  margin-left: 0;
}
.sellMediaCart_items td.item-quantity {
  text-align: center;
  padding: 6px 0;
  width: 20px;
}
.sellMediaCart_items td.item-decrement a,
.sellMediaCart_items td.item-increment a {
  background: #eee;
  border: 1px solid #ddd;
  padding: 0 1px;
  font-size: 10px;
  text-decoration: none;
  width: 14px;
  display: inline-block;
  text-align: center;
}
.sellMediaCart_items td.item-decrement a:hover,
.sellMediaCart_items td.item-increment a:hover {
  background: #ddd;
  border-color: #ccc;
}
.sell-media-totals {
  margin: 10px 0;
  float: right;
  clear: both;
  width: 200px;
}
.sell-media-totals-table {
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
  padding: 20px 0;
}
.sell-media-value,
.sellMediaCart_items th.item-total,
.sellMediaCart_items td.item-total {
  text-align: right;
}
.sell-media-bold {
  font-weight: bold;
}
.sell-media-green {
  color: green;
}
.item-remove,
.remove-all {
  padding-right: 10px;
  text-align: right;
  font-size: 10px;
}
.hide {
  display: none;
}
#sell_media_payment_gateway input {
  margin-right: 10px;
}
.sell-media-checkout-button .stripe-button-el {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}
input[type="submit"].sell-media-button,
.sell-media-button,
#sell-media-submit {
  border: none !important;
  background: #555;
  padding: 7px 5%;
  display: inline-block;
  width: auto;
  color: #FFF;
  text-align: center;
  text-transform: none;
  text-decoration: none !important;
  text-shadow: none;
  font-size: 14px;
  border-radius: 3px;
}
.sell-media-single-two-col .sell-media-button {
  display: block;
}
input[type="submit"].sell-media-button:hover,
.sell-media-button:hover,
#sell-media-submit:hover {
  background: #000;
  color: #FFF;
  text-decoration: none;
}
.sell-media-button:disabled {
  background: #ccc;
}

/* Product Purchases */
table.sell-media-products {
  font-size: 11px;
  width: 100%;
}
.sell-media-products th {
  font-weight: bold;
}
.sell-media-products th,
.sell-media-products td {
  padding: 5px;
}
.sell-media-products td.sell-media-product-total,
.sell-media-products th.sell-media-product-subtotal,
.sell-media-products td.sell-media-products-grandtotal {
  text-align: right;
}
.sell-media-products .text-center {
  text-align: center;
}
.sell-media {
  width: 100%;
  margin: 0 auto;
}
.has-sidebar .sell-media #content, .sell-media #content {
  margin: 10px 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}
.sell-media-meta:after,
.group:after {
  content: "";
  display: table;
  clear: both;
}
.sell-media-alignleft {
  float: left;
  text-align: left;
  margin: 0 20px 20px 0;
  text-align: center;
}
.sell-media-alignright {
  float: right;
  text-align: right;
  margin: 0 0 20px 20px;
  text-align: center;
}
.sell-media-aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}
.sell-media h3 a, .sell-media-text {
  text-decoration: none;
}
.sell-media-credit {
  font-size: 11px;
}
.sell-media-dialog-box .sell-media-credit {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

/*= Single
-------------------------------------------------------------- */
.sell-media-breadcrumbs {
  font-size: .7em;
  text-transform: uppercase;
  margin: 1em 0 2em;
  letter-spacing: 1px;
}
.sell-media-breadcrumbs li {
  display: inline;
  font-size: 11px;
  list-style-type: none;
}
.sell-media-breadcrumbs .raquo {
  margin: 0 6px;
  vertical-align: middle;
}
.sell-media-content {
  float: left;
  margin: 0 5% 1.5em 0;
  width: 65%;
  position: relative;
}
.sell-media-single-one-col .sell-media-content {
  float: none;
  margin: 0 0 1.5em 0;
  width: 100%;
}
.sell-media-content img {
  display: block;
  max-width: 100%;
  height: auto;
}
.sell-media-meta {
  float: right;
  line-height: 1.5;
  width: 30%;
}
.sell-media-single-one-col .sell-media-meta {
  float: none;
  width: 100%;
}
.sell-media-single-one-col .sell-media-meta .sell-media-button,
.sell-media-single-one-col .sell-media-meta .sell-media-lightbox {
  display: block;
  text-align: center;
}
.sell-media-meta ul {
  list-style-position: inside;
  list-style: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
.sell-media-meta li {
  margin-bottom: .5em;
}
.sell-media-meta .title {
  font-weight: 700;
}
#sell-media-single .gallery .gallery-item a img {
  max-width: 95%;
}

/*= Gallery
-------------------------------------------------------------- */
.sell-media-gallery:after {
  content: "";
  display: table;
  clear: both;
}
.sell-media-gallery-page .sell-media-content {
  float: none;
  margin: 0;
  width: 100%;
}
.sell-media-gallery-item {
  width: 30%;
  margin: 0 5% 5% 0;
  float: left;
}
.sell-media-gallery-item:nth-child(3n) {
 margin-right: 0;
}
.sell-media-gallery-item:nth-child(3n+1) {
  clear: left;
}
.sell-media-gallery-navigation {
  float: right;
}
.sell-media-gallery-navigation a {
  margin-right: 24px;
  text-decoration: none !important;
  border: 0 !important;
}
.sell-media-gallery-navigation a:last-child {
  margin-right: 0;
}
.sell-media-gallery-navigation .dashicons,
.sell-media-gallery-navigation .dashicons-before:before {
  width: 13px;
  height: 13px;
  font-size: 13px;
}

/*= Archives
-------------------------------------------------------------- */
.sell-media .sell-media-grid-container {
  margin: 10px 0;
}
.sell-media .sell-media-grid {
  float: left;
  margin: 0 2% 2% 0;
  position: relative;
  width: 32%;
}
.sell-media .end,
.sell-media .sell-media-grid:nth-child(3n) {
  margin-right: 0;
}
.sell-media .end + .sell-media-grid,
.sell-media .sell-media-grid:nth-child(3n+1) {
  clear: left;
}
.sell-media .sell-media-grid .item-inner {
  background: #000;
}
.sell-media .sell-media-grid .item-inner img {
  opacity: 1;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
  /* fixes chrome jump */
  -webkit-backface-visibility: hidden;
  display: block;
  width: 100%;
  height: auto;
}
.sell-media .sell-media-grid .item-overlay {
  display: none;
}
.sell-media .sell-media-grid:hover .item-overlay {
  display: inline;
}
.sell-media .sell-media-grid:hover .item-inner img {
  opacity: .3;
}
.sell-media .sell-media-grid .item-overlay a {
  color: #ccc;
  color: rgba(255,255,255,.7);
  -webkit-transition:color .2s ease-in;
  -moz-transition:color .2s ease-in;
  -o-transition:color .2s ease-in;
  transition:color .2s ease-in;
  text-decoration: none;
}
.sell-media .sell-media-grid .item-overlay a:hover {
  color: #fff;
}
.sell-media .sell-media-grid h3 {
  margin: 0;
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}
.sell-media .sell-media-grid-3 h3,
.sell-media .sell-media-grid-4 h3,
.sell-media .sell-media-grid-5 h3 {
  font-size: 13px;
}
.sell-media .sell-media-grid .add-to-lightbox,
.sell-media .sell-media-grid .remove-lightbox,
.sell-media .sell-media-grid .sell-media-text {
  position: absolute;
  bottom: 10px;
  text-transform: uppercase;
  font-size: 11px;
  font-size: .8rem;
  letter-spacing: 1px;
}
.sell-media .sell-media-grid .add-to-lightbox,
.sell-media .sell-media-grid .remove-lightbox {
  left: 10px;
}
.sell-media-meta .lightbox-notice.not-in-lightbox {
  display: none;
  margin: 1em 0;
}
.sell-media-meta .lightbox-notice.in-lightbox {
  display: block;
  margin: 1em 0;
}
.sell-media .empty-lightbox {
  color: red;
  cursor: pointer;
}
.sell-media .sell-media-grid .sell-media-text {
  right: 10px;
}
.sell-media-pagination-container {
  clear: both;
  margin: 3em auto;
  text-align: center;
}
.sell-media-pagination-container .page-numbers {
  padding: 0 3px;
}

/*= Cart
-------------------------------------------------------------- */
.sell-media-dialog-overlay {
  width: 100%;
  height: 100%;
  filter:alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  background: #000;
  position: absolute;
    top:0;
    left:0;
  z-index: 3000;
  display: none;
}
.sell-media-dialog-box {
  position: absolute;
  top: 50px;
  min-height: 250px;
  background: #f5f5f7;
  box-shadow: 0 12px 30px rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.9);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  width: 302px;
  box-sizing: border-box;
  z-index: 5000;
  display: none;
}
.sell-media-dialog-box .content {
  color: #666;
  font-family: arial;
  font-size: 11px;
  padding: 25px;
}
.sell-media-dialog-box figure {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  background: transparent;
}
.sell-media-dialog-box figcaption,
.sell-media-dialog-box footer {
  font-size: 10px;
  margin: 5px 0;
  text-align: center;
}
.sell-media-dialog-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 167px;
}
.sell-media-dialog-box img.wp-post-image {
  float: none;
}
.sell-media-dialog-box section {
  margin: 20px 0 0;
}
.sell-media-dialog-box select {
  width: 100%;
}
.sell-media-dialog-box .license_desc {
  color: #999;
}
.sell-media-dialog-box .license_desc:after {
  clear: both;
}
.total-container, .button-container {
  clear: both;
  margin: 20px 0;
}
.price-container {
  color: green;
}
.sell-media-dialog-box .subtotal {
  font-weight: bold;
  margin-bottom: 20px;
}
.sell-media-dialog-box .cart {
  padding-left: 16px;
  background: url(../images/cart.png) no-repeat 0 50%;
}
.sell-media-dialog-box fieldset {
  margin: 20px 0;
  border: 0;
}
.sell-media-dialog-box legend {
  margin: 0 0 5px;
  font-size: 12px;
}
.sell-media-dialog-box .total-container {
  margin: 20px 0;
}
.sell-media-dialog-box .close {
  right: 5px;
  top: 5px;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  width: 20px;
}
.sell-media-dialog-box .sell-media-button {
  display: block;
  width: 100%;
}
.sell-media-dialog-box,
.sell-media-dialog-box p,
.sell-media-dialog-box a,
.sell-media-dialog-box a:visited {
  color: #333;
}
.sell-media-dialog-box a:hover,
.sell-media-dialog-box a:focus {
  color: #000;
}
.sell-media-dialog-box p {
  margin-bottom: 10px;
}
.sell-media-dialog-box .sell-media-added {
  margin: 15px 0;
  text-align: center;
  padding: 10px;
  background: #fcf9d0;
}
.sell-media-dialog-box-terms {
  overflow: scroll;
  max-height: 500px;
  width: 500px;
}

/*= Checkout
-------------------------------------------------------------- */
.sell-media-req {
  color: #FF0000;
  font-size: 12px;
  position: relative;
  top: 0;
  margin-left: 3px;
  float: left;
}
.sell-media-subtotal {
  margin: 0 0 1em;
  padding: 0 0 1em;
}
.sell_media_fieldset {
  margin: 10px 0;
}
.sell_media_form_control {
  width: 185px;
}
.sellMediaCart_items .size-license {
  display: block;
  font-size: 10px;
  color: #aaa;
  font-style: italic;
}
.text-center {
  text-align: center;
}
.quiet {
  color: #999;
}
.small {
  font-size: 10px;
}

.sell-media-load-checkout {
  background: url( ../images/ajax-loader.gif) no-repeat center top;
  position: absolute;
  height: 32px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  color: #BBB;
  font-size: 12px;
}

/*= Search
-------------------------------------------------------------- */
.sell-media-search {
  clear: both;
  height: 90px;
  margin: 20px 0;
  position: relative;
}
.sell-media-search-form {
  border: 1px solid #ccc;
  background-color: #ededed;
  color: #333;
  margin: 0;
  padding: 16px;
  position: absolute;
  text-align: left;
  z-index: 100;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sell-media-search-form.active {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.sell-media-search-query {
  font-size: 20px;
  float: left;
  width: 70%;
}
.sell-media-search-submit {
  float: right;
  width: 30%;
}
.sell-media-search-query input[type=text],
.sell-media-search-submit input[type=submit] {
  height: 50px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sell-media-search-query input[type=text] {
  border: 1px solid #ccc;
  border-right: 0;
}
.sell-media-search-query input[type=text],
.sell-media-search-submit input[type=submit] {
  border-radius: 0;
  width: 100%;
}
.sell-media-search-submit input[type=submit] {
  background: #555;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #eee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  text-shadow: none;
  text-transform: uppercase;
}
.sell-media-search-submit input[type=submit]:hover {
  background: #000;
}
.sell-media-search-hidden {
  margin: 10px 0;
}
input.sell-media-search-text[type=text] {
  background: #fff;
  border-radius: 0;
  color: #aaa;
  font-size: 13px;
  margin: 0;
}
.sell-media-search-field input {
  padding: 6px;
  height: auto;
}
.sell-media-search-field label {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  padding: 0;
}
.sell-media-search-field select {
  display: inline-block;
  width: 100px;
}
.sell-media-search-hidden {
  display: none;
  margin-top: 10px;
}
.sell-media-search-close {
  color: #222;
  display: none;
  float: right !important;
  text-decoration: none !important;
}
.sell-media-search-close:hover {
  cursor: pointer;
}

/*= Shortcode sell_media_shortcode_all
-------------------------------------------------------------- */
.sell-media-shortcode-all h3 {
  float: left;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  width: 70%;
  line-height: 1em;
}
.sell-media .sell-media-shortcode-all .sell-media-grid .sell-media-text {
  font-size: 1em;
}

/*= Shortcode sell_media_item
------------------------------------------------------------------- */
.sell-media-item-container {
  display: inline-block;
}
.sell-media-item-container a.sell-media-cart-trigger {
  display: block;
}

/*= Shortcode sell_media_download_list
------------------------------------------------------------------- */
.downloads {
  margin: 1em 0;
  clear:both;
}
.downloads .download {
  display: block;
  clear: both;
}
.downloads img {
  float:left;
  margin:0 20px 20px 0;
}
.sell-media-ajax-loader {
  background: url( ../images/ajax-loader.gif) no-repeat center 70px;
  height: 58px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: #BBB;
  font-size: 12px;
}
#purchase-history td {
  vertical-align: top;
  border-bottom: 1px solid #DFDFDF;
  padding: 10px 0 5px 0;
}

#purchase-history th {
  border: solid #DFDFDF;
  border-width: 1px 0 1px 0;
  padding: 10px 0;
}
#purchase-history table {
  font-size: 13px;
  margin-bottom: 50px;
}
#purchase-history ul.payment-meta {
  margin: 10px 0;
  padding: 0;
  font-size: 12px;
}

/*= Form styling
------------------------------------------------------------------- */
.sell-media-form input[type="number"].small-text {
  width: 40px;
}
.sell-media-tooltip {
  cursor: help;
  font-size: 10px;
  padding: 3px 0 0 5px;
}
.sell-media-tooltip {
  display: inline;
  position: relative;
}
.sell-media-tooltip:hover:after {
  background: #333;
  background: rgba(0,0,0,.8);
  border-radius: 2px;
  bottom: 26px;
  color: #fff;
  content: attr(data-tooltip);
  left: 0;
  padding: 8px 12px;
  position: absolute;
  z-index: 98;
  width: 180px;
  font-size: 12px;
  line-height: 1.5;
}
.sell-media-tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

/*= Terms and Conditions
-----------------------------------------------------------------------*/
#terms-and-conditions-dialog {
  z-index: 10000;
  position: absolute;
  width: 400px;
  background: #fff;
  color: #555;
  box-shadow: 0 0 40px #000;
  padding: 25px;
  line-height: 1.5em;
}

#terms-and-conditions-dialog .close {
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 20px;
}
#sell_media_termsdiv {
  clear: both;
}
#sell_media_terms_cb {
  margin: 5px 5px 0 0;
}

/*= Error styling
-------------------------------------------------------------- */
.sell-media-error {
  font-size: 13px;
  margin: 0 0 0 7px;
  color:#ff0000;
}

/*= Clearing Floats
-------------------------------------------------------------- */
.cf:before,
.cf:after,
.sell-media-grid-container:before,
.sell-media-grid-container:after,
.wp-advanced-search:before,
.wp-advanced-search:after {
    content: " ";
    display: table;
}
.cf:after,
.sell-media-grid-container:after,
.wp-advanced-search:after {
    clear: both;
}

/*= Lightbox & Checkout counters
-------------------------------------------------------------- */
.lightbox-counter,
.checkout-counter,
.checkout-price {
    margin-left: 5px;
}
.sell-media-label,
.lightbox-counter,
.checkout-counter {
    display: inline;
    padding: 2px 5px;
    font-size: 9px;
    line-height: 1;
    color: #fff;
    background: #d9534f;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
}
.checkout-price {
   font-weight: bold;
}

/*= Media queries
-------------------------------------------------------------- */
@media only screen and (max-width : 768px) {
  .sell-media-totals,
  .sell-media-checkout-button,
  .sell-media-content,
  .sell-media-meta {
    float: none;
    width: 100%;
  }
  .sell-media-grid {
    float: none;
    margin: 25px auto;
    width: 100%;
  }
  .sell-media-grid img {
    display: block;
    margin: 0 auto;
  }
  .sell-media-grid h3,
  .sell-media-grid .sell-media-text {
    float: none;
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  .sell-media-dialog-box-terms {
    overflow: scroll;
    max-height: 500px;
    width: 302px;
  }
}
