/*= Dark
-------------------------------------------------------------- */
.sell-media-subtotal {
	border-bottom: 1px solid #111;
}

.sell-media-cart-items td.item-decrement a,
.sell-media-cart-items td.item-increment a {
	background: #333;
	border: 1px solid #444;
}

.sell-media-cart-items td.item-decrement a:hover,
.sell-media-cart-items td.item-increment a:hover {
	background: #555;
	border: 1px solid #666;
}

.sell-media-totals-table {
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
}

input,
textarea {
	color: #111;
}