/*= Variables
-------------------------------------------------------------- */
$font-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: $font-size * 1.6;
$margin: $font-size * 2;
$default-color: gray;
$dark-color: darken($default-color, 60%);
$light-color: lighten($default-color, 20%);
$white-color: #fff;
$black-color: #000;
$dark-opaque: rgba(black, .5);
$light-opaque: rgba(white, .8);
$border-color: #eee;

/*= Global
-------------------------------------------------------------- */
img {
	max-width: 100%;
	height: auto;
}


/*= Grids
-------------------------------------------------------------- */

.sell-media-row {
	display: flex; /* equal height of the children */
}

.sell-media-col {
	flex: 1; /* additionally, equal width */
}

.sell-media-two-col {
	margin-right: 10%;
	width: 45%;
	&:nth-child(2n) {
		margin-right: 0;
	}
	&:nth-child(2n+1) {
		clear: left;
	}
}

.sell-media-three-col {
	margin-right: 5%;
	width: 30%;
	&:nth-child(3n) {
		margin-right: 0;
	}
	&:nth-child(3n+1) {
		clear: left;
	}
}

.sell-media-four-col {
	margin-right: 4%;
	width: 22%;
	&:nth-child(4n) {
		margin-right: 0;
	}
	&:nth-child(4n+1) {
		clear: left;
	}
}

.sell-media-main-col {
	clear: left;
	margin-right: 5%; // Legacy themes have conflicting margins. Let's make theme consistent.
	width: 65%;  // Legacy themes have conflicting widths. Let's make theme consistent.
}

.sell-media-side-col {
	width: 30%; // Legacy themes have conflicting widths. Let's make theme consistent.
}

.sell-media-two-col,
.sell-media-three-col,
.sell-media-four-col,
.sell-media-main-col,
.sell-media-side-col {
	float: left;
	margin-bottom : $margin;

	@media only screen and (max-width: 767px) {
		clear: both;
		float: none;
		margin: 0 0 $margin;
		width: 100%;
	}
}

/*= Checkout Page
-------------------------------------------------------------- */

.sell-media-cart-items {
	list-style: none;
	margin: 0 0 2em;
	padding: 0;
	
	li {
		display: block;
		margin: 1em 0;

		&:after {
			@extend .cf;
		}

		.item-image,
		.item-details,
		.item-qty-total {
			@extend .sell-media-three-col;
		}

		// make into two columns
		.item-details,
		.item-qty-total {
			@media only screen and (max-width: 767px) {
				float: left;
				width: 50%;
				margin: 0 0 $margin;
				clear: none;

				.item-name,
				.item-size,
				.item-license {
					text-align: left;
				}
			}
		}
	}

	.item-name,
	.item-total {
		font-weight: bold;
	}

	.item-qty-total {
		text-align: right;
		
		span {
			display: inline-block;
			font-size: 12px;
			width: 24px;
			height: 16px;
			line-height: 1;
			text-align: center;

			&.dashicons {
				border: 1px solid darken($border-color, 10%);
				background: $border-color;
				cursor: pointer;
				margin: 1px;

				&:hover {
					border-color: darken($border-color, 20%);
					background-color: darken($border-color, 10%);
				}
			}
		}
	}

	.item-total {
		margin-top: 25px;
	}

}

.sell-media-totals {
	margin: 25px 0;

	.sell-media-totals-table {
		margin: 50px 0;

		.sell-media-key {
			width: 80%;
			float: left;
			margin: 0 0 10px 0;
			text-align: right;

			@media only screen and (max-width: 767px) {
				margin-right: 5%;
				width: 45%;
			}

		}

		.sell-media-value {
			width: 20%;
			float: left;
			text-align: right;

			@media only screen and (max-width: 767px) {
				width: 50%;
				text-align: left;
			}
		}

		.total {
			font-weight: bold;
		}

	}

	.sell-media-checkout-button {
		margin: 50px 0;
		text-align: right;

		@media only screen and (max-width: 767px) {
			text-align: center;

			.sell-media-button {
				display: block;
				margin: $margin 0;
				padding: $margin;
			}
		}
	}
}

.hide {
	display: none;
}

#sell_media_payment_gateway input {
	margin-right: 10px;
}


/*= Buttons
-------------------------------------------------------------- */

input[type="submit"].sell-media-button,
.sell-media-button,
#sell-media-submit {
	border: none !important;
	background: $default-color;
	box-shadow: none;
	padding: $font-size !important;
	display: inline-block;
	width: auto;
	color: $white-color;
	text-align: center;
	text-transform: none !important;
	text-decoration: none !important;
	text-shadow: none;
	font-size: $font-size;

	&:hover,
	&:focus {
		background: $dark-color;
		box-shadow: none;
		color: $white-color;
		text-decoration: none;
	}

	&:disabled {
		background: $light-color;
	}

}

.sell-media-item-links {
	font-size: 11px;
}

/*= Product Purchases
-------------------------------------------------------------- */

.sell-media-products {
	font-size: 11px;
	width: 100%;

	th {
		font-weight: bold;
	}

	th,
	td {
		padding: 5px;
	}
	
	td.sell-media-product-total,
	th.sell-media-product-subtotal,
	td.sell-media-products-grandtotal {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}
}

/*= Layouts
-------------------------------------------------------------- */

.sell-media {
	width: 100%;
	margin: 0 auto;
}

.has-sidebar .sell-media #content,
.sell-media #content {
	margin: 10px 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
}

.sell-media-meta:after {
	@extend .cf;
}

.sell-media-alignleft {
	float: left;
	text-align: left;
	margin: 0 20px 20px 0;
	text-align: center;
}

.sell-media-alignright {
	float: right;
	text-align: right;
	margin: 0 0 20px 20px;
	text-align: center;
}

.sell-media-aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
}

.sell-media h3 a,
.sell-media-text {
	text-decoration: none;
}


/*= Breadcrumbs
-------------------------------------------------------------- */
.sell-media-breadcrumbs {
	font-size: .7em;
	text-transform: uppercase;
	margin: 1em 0 2em;
	letter-spacing: 1px;
	
	li {
		display: inline;
		font-size: 11px;
		list-style-type: none;
	}

	.raquo {
		margin: 0 6px;
		vertical-align: middle;
	}
}

/*= Single Layouts
-------------------------------------------------------------- */
.sell-media-content {
	@extend .sell-media-main-col;
	position: relative;

	img {
		display: block;
	}

	.sell-media-single-one-col & {
		float: none;
		margin: 0 0 1.5em 0;
		width: 100%;
	}
}

.sell-media-meta {
	@extend .sell-media-side-col;
	font-size: 13px;
	line-height: 1.5;

	.sell-media-button {
		display: block;
		text-align: center;
	}

	ul {
		list-style-position: inside;
		list-style: none;
		margin: 0 0 1.5em 0;
		padding: 0;
		
		li {
			margin-bottom: .5em;

			.title {
				font-weight: 700;
			}
		}
	}

	.sell-media-single-one-col & {
		float: none;
		width: 100%;
		display: block;
	}
}

#sell-media-single .gallery .gallery-item a img {
	max-width: 95%;
}
.sell-media-caption {
	font-style: italic;
	text-align: center;
}
.sell-media-title {
	font-weight: 700;
}

/*= Galleries
-------------------------------------------------------------- */

.sell-media-gallery-page .sell-media-content {
	float: none;
	margin: 0;
	width: 100%;
}

.sell-media-gallery {
	@extend .cf;
}

.sell-media-gallery-nav {
	display: inline-block;
	float: right;

	@media only screen and (max-width: 767px) {
		display: block;
		float: none;
		margin: $margin 0 $margin;
		text-align: center;
	}

	a {
		margin-right: 20px;
		text-decoration: none !important;
		border: 0 !important;
		box-shadow: none !important;
		padding: 0 !important;
		width: auto !important;

		&:last-child {
			margin-right: 0;
		}
	}
}

/*= Archives
-------------------------------------------------------------- */
.sell-media-grid-container {
	margin: $line-height 0;
}

.sell-media-grid {
	@extend .sell-media-three-col;

	a {
		position: relative;
		overflow: hidden;
		display: block;

		img {
			display: block;
			margin: 0 auto;
		}

		.quick-view {
			font-family: $font-sans-serif;
			font-size: 11px;
			letter-spacing: 1px;
			position: absolute;
			left: 0;
			bottom: 0;
			margin-bottom: -37px;
			color: $white-color;
			background: $dark-opaque;
			text-align: center;
			text-transform: uppercase;
			padding: 10px 0;
			width: 100%;
			display: table;
			transition: all 0.1s ease;
			z-index: 1;

			&:hover {
				background: $black-color;
			}
		}

		&:hover {

			img {
				opacity: 1;
			}

			.quick-view {
				margin-bottom: 0;
			}

		}
	}
}


/*= Lightbox
-------------------------------------------------------------- */

.sell-media-meta {

	.add-to-lightbox {
		display: block;
		margin: 1em 0;
	}

	.lightbox-notice.not-in-lightbox {
		display: none;
		margin: 1em 0;
	}
	
	.lightbox-notice.in-lightbox {
		display: block;
		margin: 1em 0;
	}
}

.sell-media .empty-lightbox {
	color: red;
	cursor: pointer;
}


/*= Pagination
-------------------------------------------------------------- */

.sell-media-pagination-container {
	clear: both;
	margin: 3em auto;
	text-align: center;
	
	.page-numbers {
		padding: 0 3px;
	}
}


/*= Quick View Dialog
-------------------------------------------------------------- */

.sell-media-dialog-overlay {
	width: 100%;
	height: 100%;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	background: #000;
	position: absolute;
		top:0;
		left:0;
	z-index: 3000;
	display: none;
}

.sell-media-dialog-box {
	color: $dark-color;
	font-family: $font-sans-serif;
	font-size: 13px;
	position: absolute;
	top: 50px;
	background: $white-color;
	box-shadow: 0 12px 30px $dark-opaque;
	max-width: 1000px;
	width: 80%;
	box-sizing: border-box;
	z-index: 5000;
	display: none;

	p,
	a,
	a:visited,
	label,
	h2 {
		color: $dark-color;
		font-family: $font-sans-serif;
		text-decoration: none;
	}

	a:hover,
	a:focus {
		color: $black-color;
	}

	p {
		margin: 0 0 $font-size;
	}

	figure {
		display: block;
		background-color: transparent;
		padding: 0;
		margin: 0;
		width: 100%;

		img {
			float: left;
		}
	}

	.quick-view-container {
		@extend .cf;
		padding: $margin;

		@media only screen and (max-width : 768px) {
			padding: 0;
		}
	}

	.quick-view-image {
		@extend .sell-media-main-col;
		margin-bottom: 0 !important; // override grid margins
	}
	
	.quick-view-content {
		@extend .sell-media-side-col;
		margin-bottom: 0 !important; // override grid margins

		@media only screen and (max-width : 768px) {
			margin: 0;

			.quick-view-content-inner {
				padding: $margin;
			}
		}

		h2 {
			font-size: 24px;
			font-weight: bold;
			line-height: 1;
			margin: 0 0 24px;
			padding: 0;
		}
	}

	.close {
		color: $light-color;
		right: 0;
		top: 0;
		position: absolute;
		cursor: pointer;
		font-size: $margin;
		line-height: 1;
		text-align: center;
		width: 34px;
		height: 36px;

		@media only screen and (max-width : 768px) {
			color: $white-color;
		}

		&:hover {
			background-color: $dark-color;
			color: $white-color;
		}
	}

	.sell-media-button {
		display: block;
		width: 100%;
	}

	.sell-media-credit {
		color: $white-color;
		font-size: 11px;
		position: absolute;
		bottom: -$margin;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;

		a {
			color: $white-color;
			text-decoration: none;
		}
	}
}

.sell-media-dialog-box-terms {
	overflow: scroll;
	max-height: 500px;
	width: 500px;

	@media only screen and (max-width : 768px) {

		overflow: scroll;
		max-height: 500px;
		width: 302px;

	}
}

/*= Cart Fields
-------------------------------------------------------------- */

.sell-media-add-to-cart-fields {
	border-top: 1px solid $border-color;

	label {
		margin-left: 5px;
	}

	fieldset {
		@extend .cf;
		padding: $font-size 0;
		border: 0;
		border-bottom: 1px solid $border-color;

		legend {
			float: left;
			width: 35%;
			margin-right: 5%;
		}

		select {
			float: left;
			width: 60%;
		}
	}

	.sell-media-tooltip {
		color: $light-color;
		font-size: 11px;
	}

	.total-container,
	.button-container {
		clear: both;
		margin: $font-size 0 0;
	}

	.total-container {
		text-transform: uppercase;
	}

	.price-container {
		color: green;
	}

	.subtotal {
		font-weight: bold;
		margin-bottom: $line-height;
	}

	.cart {
		padding-left: 16px;
		background: url(../images/cart.png) no-repeat 0 50%;
	}

	.add-to-lightbox {
		text-decoration: none;
		font-size: 11px;
		color: $default-color;

		&:hover {
			color: $dark-color;
		}
	}
}

/*= Search
-------------------------------------------------------------- */

.sell-media-search {
	clear: both;
	height: 90px;
	margin: 20px 0;
	position: relative;
}
.sell-media-search-form {
	border: 1px solid #ccc;
	background-color: #ededed;
	color: #333;
	margin: 0;
	padding: 16px;
	position: absolute;
	text-align: left;
	z-index: 100;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	&.active {
		box-shadow: 0 0 10px rgba(0,0,0,.2);
	}
}

.sell-media-search-query {
	font-size: 20px;
	float: left;
	width: 70%;
}

.sell-media-search-submit {
	float: right;
	width: 30%;
}

.sell-media-search-query input[type=text],
.sell-media-search-submit input[type=submit] {
	height: 50px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sell-media-search-query input[type=text] {
	border: 1px solid #ccc;
	border-right: 0;
}

.sell-media-search-query input[type=text],
.sell-media-search-submit input[type=submit] {
	border-radius: 0;
	width: 100%;
}

.sell-media-search-submit input[type=submit] {
	background: $default-color;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: $border-color;
	font-family: $font-sans-serif;
	letter-spacing: 2px;
	font-size: 12px;
	text-shadow: none;
	text-transform: uppercase;
}

.sell-media-search-submit input[type=submit]:hover {
	background: $black-color;
	box-shadow: none;
}

.sell-media-search-hidden {
	margin: 10px 0;
}

input.sell-media-search-text[type=text] {
	background: $white-color;
	border-radius: 0;
	color: $default-color;
	font-size: 13px;
	margin: 0;
}

.sell-media-search-field {

	input {
		padding: 6px;
		height: auto;
	}

	label {
		display: inline-block;
		font-size: 12px;
		margin-right: 10px;
		padding: 0;
	}

	select {
		display: inline-block;
		width: 100px;
	}
}

.sell-media-search-hidden {
	display: none;
	margin-top: 10px;
}

.sell-media-search-close {
	color: $dark-color;
	display: none;
	float: right !important;
	text-decoration: none !important;
	&:hover {
		cursor: pointer;
	}
}

/*= Shortcodes
-------------------------------------------------------------- */

/*  sell_media_shortcode_all */
.sell-media-shortcode-all h3 {
	float: left;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	width: 70%;
	line-height: 1em;
}

.sell-media .sell-media-shortcode-all .sell-media-grid .sell-media-text {
	font-size: 1em;
}

/* sell_media_download_list */
.downloads {
	margin: 1em 0;
	clear:both;
	
	.download {
		display: block;
		clear: both;
	}

	img {
		float:left;
		margin:0 20px 20px 0;
	}
}

.sell-media-ajax-loader {
	background: url( ../images/ajax-loader.gif) no-repeat center 70px;
	height: 58px;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	color: #BBB;
	font-size: 12px;
}

#purchase-history {
	td {
		vertical-align: top;
		border-bottom: 1px solid #DFDFDF;
		padding: 10px 0 5px 0;
	}

	th {
		border: solid #DFDFDF;
		border-width: 1px 0 1px 0;
		padding: 10px 0;
	}

	table {
		font-size: 13px;
		margin-bottom: 50px;
	}

	ul.payment-meta {
		margin: 10px 0;
		padding: 0;
		font-size: 12px;
	}
}

/*= Form styling
------------------------------------------------------------------- */

.sell-media-form input[type="number"].small-text {
	width: 40px;
}

.sell-media-tooltip {
	display: inline;
	position: relative;
	cursor: help;
	font-size: 11px;
	
	&:hover:after {
		background: #333;
		background: rgba(0,0,0,.8);
		border-radius: 2px;
		bottom: 26px;
		color: #fff;
		content: attr(data-tooltip);
		left: 0;
		padding: 8px 12px;
		position: absolute;
		z-index: 98;
		width: 180px;
		font-size: 12px;
		line-height: 1.5;
	}

	&:hover:before {
		border: solid;
		border-color: #333 transparent;
		border-width: 6px 6px 0 6px;
		bottom: 20px;
		content: "";
		left: 50%;
		position: absolute;
		z-index: 99;
	}
}

/*= Notifications
-----------------------------------------------------------------------*/
.sell-media-added {
	margin: $line-height 0;
	padding: $font-size;
	background: #FFFCDD;
	text-align: center;
}

/*= Terms and Conditions
-----------------------------------------------------------------------*/

#terms-and-conditions-dialog {
	z-index: 10000;
	position: absolute;
	width: 400px;
	background: #fff;
	color: #555;
	box-shadow: 0 0 40px #000;
	padding: 25px;
	line-height: 1.5em;
	
	.close {
		cursor: pointer;
		font-size: 20px;
		position: absolute;
		right: 5px;
		text-align: center;
		top: 5px;
		width: 20px;
	}
}

#sell_media_termsdiv {
	clear: both;
}

#sell_media_terms_cb {
	margin: 5px 5px 0 0;
}

/*= Error styling
-------------------------------------------------------------- */

.sell-media-error {
	font-size: 13px;
	margin: 0 0 0 7px;
	color:#ff0000;
}

/*= Clearing Floats
-------------------------------------------------------------- */

.cf:before,
.cf:after,
.sell-media-grid-container:before,
.sell-media-grid-container:after,
.wp-advanced-search:before,
.wp-advanced-search:after {
		content: " ";
		display: table;
}
.cf:after,
.sell-media-grid-container:after,
.wp-advanced-search:after {
		clear: both;
}

/*= Lightbox & Checkout counters
-------------------------------------------------------------- */

.lightbox-counter,
.checkout-counter,
.checkout-price,
.checkout-counter-wrap {
	margin-left: 5px;
}

.sell-media-label,
.lightbox-counter,
.checkout-counter,
.checkout-counter-wrap {
	display: inline;
	padding: 2px 5px;
	font-size: 9px;
	line-height: 1;
	color: #fff;
	background: #d9534f;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 2px;
}

/*= Widgets
-------------------------------------------------------------- */

#sell-media-single-sidebar {
	float: left;
	width: 100%;
	margin-top: 1em;
	
	.widget {
		float: left;
		width: 100%;
		margin-right: 0;
	}
}

.sell-media-widget-item-wrap {
	@extend .sell-media-three-col;
}

.sell-media-widget-thumb-wrap {
	float: left;
	max-width: 100%;

	img {
		float: left;
	}
}

/*= Media queries
-------------------------------------------------------------- */

@media only screen and (max-width : 768px) {

	.sell-media-dialog-box-terms {
		overflow: scroll;
		max-height: 500px;
		width: 302px;
	}
}