.sell-media-price-listings-wrap{
	#poststuff {
		h2.tab-title{
			padding: 8px 0;

			span{
				padding: 4px 0px;
				position: relative;
				top: -3px;
			}
		}
		.tab-price-lists{
			margin: 15px 0;
		}
		.tab-price-list-edit-title{
			padding: 8px 0;
		}
		#sell-media-price-table{
			width: 90%;
			td{
				padding: 7px 0px;

				input[type=text]{
					width: 80%;
				}

				input.small-text{
					width: 80px;
				}
			}
		}
		.price-group-term-information{
			margin: 10px 0;
		}
		.sell-media-sub-tab{
			border: none!important;
			margin: 10px 0 !important;
		}
		.sell-media-sub-tab .nav-tab{
			border: none;
			border-bottom: 2px solid #f1f1f1;
			background: none;
		}
		.sell-media-sub-tab .nav-tab:hover{
			border-bottom: 2px solid #444444;
			background: none;
		}
		.sell-media-sub-tab .nav-tab-active{
			border-bottom: 2px solid #444444;
			background: none;
		}

		.sell-media-pricelisting-form-buttons{
			width: 90%;
			#sell-media-save-button{
				float: right;
			}
		}
	}
}
