$delete-button-color: #f00;

.sell-media-price-listings-wrap{
	#poststuff {
		h2.tab-title{
			padding: 8px 0;
			position: relative;
			margin-bottom: 10px;
			font-size: 16px;

			span{
				padding: 4px 0px;
				position: relative;
				top: -3px;
			}

			.sell-media-add-new-pricelist-popup{
				border: 1px solid #ccc;
				background: #fff;
				width: 235px;
				padding: 20px;
				position: absolute;
				top: 29px;
				left: 174px;
				border-radius: 3px;
				display: none;
			}
		}

		.tab-price-lists {
			margin: 15px 0;
		}
		
		.deletion {
			color: $delete-button-color;
			margin: 0 10px;
		}

		.tab-price-list-edit-title{
			padding: 8px 0;
		}
		#sell-media-price-table{
			width: 90%;
			td{
				padding: 7px 0px;

				input[type=text]{
					width: 80%;
				}

				input.small-text{
					width: 100px;
				}
			}
		}
		.price-group-term-information{
			margin: 10px 0;
		}
		.sell-media-sub-tab{
			border: none!important;
			margin: 10px 0 !important;
		}
		.sell-media-sub-tab .nav-tab{
			border: none;
			border-bottom: 2px solid #f1f1f1;
			background: none;
		}
		.sell-media-sub-tab .nav-tab:hover{
			border-bottom: 2px solid #444444;
			background: none;
		}
		.sell-media-sub-tab .nav-tab-active{
			border-bottom: 2px solid #444444;
			background: none;
		}

		.sell-media-pricelisting-form-buttons{
			width: 90%;
			#sell-media-add-button{
				// float: right;
			}
		}
		.parsley-error{
			border: 1px solid red;
		}

		ul.parsley-errors-list{
			display: none;
		}
		.form-group{
			margin-bottom: 24px;
		}
		label{
			display: block;
			font-size: 14px;
			margin-bottom: 10px;
		}
		select{
			min-width: 215px;
		}
		.sell-media-pricing{
			padding-bottom: 30px;
			border-bottom: 1px solid #ccc;
		}
		.sell-media-pricing-settings{
			border-top: 1px solid #fff;
			padding-top: 30px; 
		}
		.sell-media-priclist-submit{
			float:right;
		}
	}
}
