
.wrap .sell-media-settings-links {
    font-size: 1em;
    margin: 24px 0 0;
    position: relative;
    clear: both;
}
.wrap .sell-media-settings-links ul {
    position: absolute;
    right: 0;
    margin: 0;
}
.wrap .sell-media-settings-links ul li {
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #DFDFDF;
}
.wrap .sell-media-settings-links ul li:last-child {
    border: 0;
    padding-right: 0;
    margin-right: 0;
}
form h3 {
    margin-bottom: 0;
}
form p {
    margin-top: 0;
    padding-bottom: 1em;
}
.form-table {
    margin-bottom: 20px;
}
label.radio {
    display: block;
    margin-bottom: 5px;
}
label.radio input {
    vertical-align: text-top;
    margin-right: 4px;
}
label.radio_image input {
    display: none;
}
label.radio_image img {
    padding: 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    background: none;
}
label.radio_image input:checked + img {
    background: #a2daec;
}
input[type="text"] {
    height: 2em;
}
input[type="radio"] {
    vertical-align: top;
}
input.upload_image_button.button {
    margin-top: 1px;
}
span.option-description {
    color: #999;
    font-size: 11px;
    display: block;
}

/* @group Image Previews */
.upload_image_preview {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 420px;
    height: auto;
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
.upload_image_preview .caption {
    font-size: .9em;
    color: #999;
    text-transform: uppercase;
}
.sell-media-settings-wrap {
    display: table;
    width: 100%;
}
.sell-media-settings-wrap code {
    font-size: 11px;
    padding: 2px;
}
.sell-media-settings-content {
    display: inline-block;
    float: left;
    width: 70%;
}
.sell-media-settings-sidebar {
    display: inline-block;
    float: left;
    width: 25%;
    padding: 0 0 0 5%;
}
.sell-media-dashicon-big {
    font-size: 100px;
    width: 100%;
    height: 100px;
    padding: 24px 0;
    color: #fff;
    display: block;
}
.sell-media-box {
    position: relative;
    overflow: auto;
    margin: 16px 0;
    padding: 16px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
    font-size: 13px;
    line-height: 2.1em;
}
.sell-media-box .dashicons-update {
    background: #8DBF67;
}
.sell-media-box .dashicons-format-chat {
    background: #17A3A5;
}
.sell-media-box .dashicons-star-filled {
    color: #FCCB56;
}
.sell-media-box .text-center {
    text-align: center;
}
#menu-posts-sell_media_item ul li:last-child a {
    color: #2EA2CC;
}
@media only screen and (max-width: 960px) {
    .sell-media-settings-content,
    .sell-media-settings-sidebar {
        display: block;
        float: none;
        padding: 0;
        width: 100%;
    }
}
