
.wrap .theme-options {
    font-size: 1em;
    height: 20px;
    margin: 10px 0 -10px;
    clear: both;
}
.wrap .theme-options ul {
    float: right;
}
form h3 {
    margin-bottom: 0;
}
form p {
    margin-top: 0;
    padding-bottom: 1em;
}
.form-table {
    margin-bottom: 20px;
}
label.radio {
    display: block;
    margin-bottom: 5px;
}
label.radio input {
    vertical-align: text-top;
    margin-right: 4px;
}
label.radio_image input {
    display: none;
}
label.radio_image img {
    padding: 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    background: none;
}
label.radio_image input:checked + img {
    background: #a2daec;
}
input[type="text"] {
    height: 2em;
}
input[type="radio"] {
    vertical-align: top;
}
input.upload_image_button.button {
    margin-top: 1px;
}
span.option-description {
    color: #999;
    font-size: 11px;
    display: block;
}

/* @group Image Previews */
.upload_image_preview {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 420px;
    height: auto;
    display: none;
}
img {
    max-width: 100%;
    height: auto;
}
.upload_image_preview .caption {
    font-size: .9em;
    color: #999;
    text-transform: uppercase;
}

/* Google Fonts */
.box {
    margin: 24px 0;
    padding: 20px;
    background: #f9f9f9;
    position: relative;
}
.box h2 {
    font-size: 42px;
}
.box p {
    font-size: 14px;
    line-height: 1.4;
}
.oswald {
    font-family: 'Oswald', sans-serif;
}
.lora {
    font-family: 'Lora', serif;
}
.lobster {
    font-family: 'Lobster', Georgia, Times, serif;
}
.cabin {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
.raleway {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
.goudy-bookletter-1911 {
    font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}
.allerta {
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
}
.crimson-text {
    font-family: 'Crimson Text', Georgia, Times, serif;
}
.arvo {
    font-family: 'Arvo', Georgia, Times, serif;
}
.pt-sans {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.dancing-script {
    font-family: 'Dancing Script', Georgia, Times, serif;
}
.josefin-sans {
    font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
.allan {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}
.cardo {
    font-family: 'Cardo', Georgia, Times, serif;
}
.molengo {
    font-family: 'Molengo', Georgia, Times, serif;
}
.lekton {
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
}
.bevan {
    font-family: 'Bevan', cursive;
}
.open-sans {
    font-family: 'Open Sans', sans-serif;
}
.droid-serif {
    font-family: 'Droid Serif' serif;
}
.prociono {
    font-family: 'Prociono' serif;
}
.rokkitt {
    font-family: 'Rokkitt' serif;
}
.junge {
    font-family: 'Junge' serif;
}
.quicksand {
    font-family: 'Quicksand' sans-serif;
}
.news-cycle {
    font-family: 'News Cycle' sans-serif;
}
.anton {
    font-family: 'Anton' sans-serif;
}
.shadows-into-light-two {
    font-family: 'Shadows Into Light Two' cursive;
}
.bitter {
    font-family: 'Bitter' serif;
}